create_tables_schema.json
{"flowContents":{"identifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452","instanceIdentifier":"cd280d59-0193-1000-e426-c5a4a6ebf120","name":"create_tables_schema","comments":"","position":{"x":-416.0,"y":80.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a423e3d4-3edd-360a-8b75-2262d6bb4a22","instanceIdentifier":"cd280d62-0193-1000-ba72-ee1ffcb55732","name":"DeleteSQS","comments":"","position":{"x":176.0,"y":-80.0},"type":"org.apache.nifi.processors.aws.sqs.DeleteSQS","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0"},"properties":{"Receipt Handle":"${sqs.receipt.handle}","SSL Context Service":null,"proxy-configuration-service":null,"Communications Timeout":"30 secs","Region":"us-west-2","Endpoint Override URL":null,"Queue URL":null,"AWS Credentials Provider service":null},"propertyDescriptors":{"Receipt Handle":{"name":"Receipt Handle","displayName":"Receipt Handle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Queue URL":{"name":"Queue URL","displayName":"Queue URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"71dce31e-c509-3d22-b6be-970180c95383","instanceIdentifier":"cd340446-0193-1000-8192-8bccbd64022d","name":"LogMessage","comments":"","position":{"x":-48.0,"y":-992.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"efc02d24-ca70-3ff7-aa73-58360903a99e","instanceIdentifier":"cd2ae064-0193-1000-a535-f2dfa9044aa3","name":"ExecuteScript","comments":"","position":{"x":896.0,"y":-768.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\n\n// Obtén el FlowFile\nflowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Lee el contenido del FlowFile\n    def content = session.read(flowFile).withStream { inputStream ->\n        IOUtils.toString(inputStream, \"UTF-8\") // Convierte el contenido a texto\n    }\n    \n    // Analiza el CSV (separado por saltos de línea y comas)\n    def records = content.split(\"\\n\") // Suponiendo un archivo CSV con líneas separadas por saltos de línea\n    def header = records[0].split(\",\") // Extrae los nombres de columnas de la primera línea\n    \n    // Sanitiza los nombres de las columnas (quita espacios y caracteres no válidos)\n    def sanitizedColumns = header.collect { column ->\n        column.trim() // Elimina espacios iniciales y finales\n              .replaceAll(\" \", \"_\") // Reemplaza espacios en blanco por \"_\"\n              .replaceAll(\"[^a-zA-Z0-9_]\", \"_\") // Reemplaza otros caracteres no válidos\n    }\n    \n// Genera la consulta SQL para crear la tabla con los nombres de columnas en minúsculas\n    def tableName = flowFile.getAttribute('table.name') ?: 'edr_tmp'\n    def sql = \"CREATE TABLE ${tableName} (\\n\"\n    sanitizedColumns.each { column ->\n        sql += \"${column} TEXT,\\n\" // Usa los nombres de columna en minúsculas sin comillas dobles\n    }\n    sql = sql[0..-3] + \"\\n);\" // Elimina la última coma y cierra el paréntesis\n\n    // Añade la consulta SQL como atributo al FlowFile\n    flowFile = session.putAttribute(flowFile, \"sql.query\", sql)\n    \n    // Transfiere el FlowFile a la relación success\n    session.transfer(flowFile, REL_SUCCESS)\n\n} catch (Exception e) {\n    log.error(\"Error procesando el FlowFile: \", e)\n    session.transfer(flowFile, REL_FAILURE) // Transfiere a failure en caso de error\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"20a19216-77d2-3db1-8066-48ae27d64626","instanceIdentifier":"cd2a2b31-0193-1000-625f-5ba46b76b433","name":"UpdateAttribute","comments":"","position":{"x":496.0,"y":-1496.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","table.name":"edr_tmp","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table.name":{"name":"table.name","displayName":"table.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"d6fea311-ce9a-3da9-8510-e9d7c6655f43","instanceIdentifier":"cd39e86e-0193-1000-ee13-3b17c0db1f02","name":"PutSQL","comments":"","position":{"x":904.0,"y":-544.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"${sql.query}","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"129cc8b9-17ab-3574-9d75-0df4433cc077","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"22b65473-2799-3d7b-a13b-eec781f6b598","instanceIdentifier":"cd2a6cc1-0193-1000-5c09-4143dd012749","name":"ConvertRecord","comments":"","position":{"x":560.0,"y":-1200.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"e1133332-92ec-3b4a-9a60-0ce0cb1a7c05","Record Reader":"59f7660b-72f9-3aaa-8ec0-c12b93bc5d34"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"2f30d2a6-f3fa-33c9-a462-6fd96f36a1db","instanceIdentifier":"cd280d60-0193-1000-1684-f2b03dcb5213","name":"GetFile","comments":"","position":{"x":-224.0,"y":-1520.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/home/nifi/files/edr/","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"9f081ad6-6b8c-3720-9d03-50d09a9fcc2b","instanceIdentifier":"cd3c6ee0-0193-1000-7bb5-f0d6a0a21038","name":"LogMessage","comments":"","position":{"x":240.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"6973b060-0528-3bd8-a144-6ba4e8812712","instanceIdentifier":"cdecef07-0193-1000-197c-0130f44f2c0c","name":"PutSQL","comments":"","position":{"x":832.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"${sql.insert}","Transaction Timeout":null,"Batch Size":"1","Obtain Generated Keys":"false","JDBC Connection Pool":"129cc8b9-17ab-3574-9d75-0df4433cc077","database-session-autocommit":"false","rollback-on-failure":"true"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"7c1fc997-210b-3abf-9bbe-18d370f0ad90","instanceIdentifier":"cdecbe49-0193-1000-3b69-24a459d6506d","name":"ExecuteScript","comments":"","position":{"x":880.0,"y":-320.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\n\n// Obtén el FlowFile\nflowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Lee el contenido del FlowFile\n    def content = session.read(flowFile).withStream { inputStream ->\n        IOUtils.toString(inputStream, \"UTF-8\") // Convierte el contenido a texto\n    }\n    \n    // Analiza el CSV\n    def records = content.split(\"\\n\")\n    def header = records[0].split(\",\") // Obtén los encabezados\n    def dataRows = records[1..-1] // Obtén el resto de las filas (datos)\n    \n    // Sanitiza los nombres de las columnas\n    def sanitizedColumns = header.collect { column ->\n        column.trim()\n              .replaceAll(\" \", \"_\")\n              .replaceAll(\"[^a-zA-Z0-9_]\", \"_\")\n              .toLowerCase() // Convierte a minúsculas\n    }\n\n    // Obtiene el número esperado de columnas\n    def expectedColumnCount = sanitizedColumns.size()\n\n    // Genera las consultas SQL para insertar datos\n    def tableName = flowFile.getAttribute('table.name') ?: 'edr_tmp'\n    def insertQueries = dataRows.collect { row ->\n        def values = row.split(\",\").collect { value ->\n            value.trim() ? \"'${value.trim().replaceAll(\"'\", \"''\")}'\" : \"NULL\" // Reemplaza valores vacíos por NULL\n        }\n\n        // Ajusta el tamaño de los valores para que coincidan con las columnas\n        while (values.size() < expectedColumnCount) {\n            values << \"NULL\" // Completa con NULL\n        }\n        if (values.size() > expectedColumnCount) {\n            values = values[0..expectedColumnCount - 1] // Recorta valores sobrantes\n        }\n\n        // Agrega \"ON CONFLICT DO NOTHING\" para evitar errores por duplicados\n        return \"INSERT INTO ${tableName} (${sanitizedColumns.join(\", \")}) VALUES (${values.join(\", \")}) ON CONFLICT DO NOTHING;\"\n    }.join(\"\\n\") // Une todas las consultas de inserción en una sola cadena\n\n    // Añade las consultas SQL como atributo al FlowFile\n    flowFile = session.putAttribute(flowFile, \"sql.insert\", insertQueries)\n    \n    // Transfiere el FlowFile a la relación success\n    session.transfer(flowFile, REL_SUCCESS)\n\n} catch (Exception e) {\n    log.error(\"Error procesando el FlowFile: \", e)\n    session.transfer(flowFile, REL_FAILURE) // Transfiere a failure en caso de error\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"1fc68ddb-e9c1-3c92-9a93-59294177285d","instanceIdentifier":"cd2aa7c7-0193-1000-ba6a-adf4477a845e","name":"QueryRecord","comments":"","position":{"x":776.0,"y":-1008.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"dbf-default-precision":"10","record-writer":"a695ff00-5d38-395f-bccc-133e0dfc8861","sql.query":"SELECT * FROM FLOWFILE","record-reader":"b6b96458-2abb-3d07-b747-da963d741e9b","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql.query":{"name":"sql.query","displayName":"sql.query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"}],"inputPorts":[],"outputPorts":[{"identifier":"efd6c1ce-abb7-33cd-b0b9-1d242089f3e1","instanceIdentifier":"cd280d5d-0193-1000-a22a-97f8749397d0","name":"fin","position":{"x":160.0,"y":408.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"}],"connections":[{"identifier":"aedd2d98-94ad-33ba-a84f-f0b156792045","instanceIdentifier":"cd2fd2e7-0193-1000-771b-5e1bb9a189d9","name":"","source":{"id":"20a19216-77d2-3db1-8066-48ae27d64626","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"UpdateAttribute","comments":"","instanceIdentifier":"cd2a2b31-0193-1000-625f-5ba46b76b433"},"destination":{"id":"22b65473-2799-3d7b-a13b-eec781f6b598","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"ConvertRecord","comments":"","instanceIdentifier":"cd2a6cc1-0193-1000-5c09-4143dd012749"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"49846139-aeb1-3733-8d31-8f56c270fc48","instanceIdentifier":"cdef0f4b-0193-1000-d90d-863311360997","name":"","source":{"id":"7c1fc997-210b-3abf-9bbe-18d370f0ad90","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"ExecuteScript","comments":"","instanceIdentifier":"cdecbe49-0193-1000-3b69-24a459d6506d"},"destination":{"id":"9f081ad6-6b8c-3720-9d03-50d09a9fcc2b","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"LogMessage","comments":"","instanceIdentifier":"cd3c6ee0-0193-1000-7bb5-f0d6a0a21038"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"ed6ef5b9-2cb8-3f4c-9b7d-36579b0b8b1b","instanceIdentifier":"cd374955-0193-1000-ce79-3eb1e0017d77","name":"","source":{"id":"1fc68ddb-e9c1-3c92-9a93-59294177285d","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"QueryRecord","comments":"","instanceIdentifier":"cd2aa7c7-0193-1000-ba6a-adf4477a845e"},"destination":{"id":"71dce31e-c509-3d22-b6be-970180c95383","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"LogMessage","comments":"","instanceIdentifier":"cd340446-0193-1000-8192-8bccbd64022d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"b9aba442-e483-3d45-8013-bf1ebb3a8ef6","instanceIdentifier":"cd3b7641-0193-1000-3548-c0036d3b4fa1","name":"","source":{"id":"efc02d24-ca70-3ff7-aa73-58360903a99e","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"ExecuteScript","comments":"","instanceIdentifier":"cd2ae064-0193-1000-a535-f2dfa9044aa3"},"destination":{"id":"71dce31e-c509-3d22-b6be-970180c95383","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"LogMessage","comments":"","instanceIdentifier":"cd340446-0193-1000-8192-8bccbd64022d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"1bd91b48-4474-326b-9b83-0290bcb48fbe","instanceIdentifier":"cd9be693-0193-1000-54a7-9e11422b3d80","name":"","source":{"id":"1fc68ddb-e9c1-3c92-9a93-59294177285d","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"QueryRecord","comments":"","instanceIdentifier":"cd2aa7c7-0193-1000-ba6a-adf4477a845e"},"destination":{"id":"efc02d24-ca70-3ff7-aa73-58360903a99e","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"ExecuteScript","comments":"","instanceIdentifier":"cd2ae064-0193-1000-a535-f2dfa9044aa3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["sql.query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"948968fe-e37f-33e2-a048-f2b55acdb68d","instanceIdentifier":"cd3c827c-0193-1000-705a-bbe7b396c930","name":"","source":{"id":"d6fea311-ce9a-3da9-8510-e9d7c6655f43","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"PutSQL","comments":"","instanceIdentifier":"cd39e86e-0193-1000-ee13-3b17c0db1f02"},"destination":{"id":"9f081ad6-6b8c-3720-9d03-50d09a9fcc2b","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"LogMessage","comments":"","instanceIdentifier":"cd3c6ee0-0193-1000-7bb5-f0d6a0a21038"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"d263d138-8086-3220-9672-e2e84e030e8c","instanceIdentifier":"cdc6d078-0193-1000-62bd-c0ce4566c0e0","name":"","source":{"id":"22b65473-2799-3d7b-a13b-eec781f6b598","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"ConvertRecord","comments":"","instanceIdentifier":"cd2a6cc1-0193-1000-5c09-4143dd012749"},"destination":{"id":"1fc68ddb-e9c1-3c92-9a93-59294177285d","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"QueryRecord","comments":"","instanceIdentifier":"cd2aa7c7-0193-1000-ba6a-adf4477a845e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"b5504ee3-eddc-3b50-936e-43fcb546b59e","instanceIdentifier":"cd341571-0193-1000-1f57-02f85e82d108","name":"","source":{"id":"22b65473-2799-3d7b-a13b-eec781f6b598","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"ConvertRecord","comments":"","instanceIdentifier":"cd2a6cc1-0193-1000-5c09-4143dd012749"},"destination":{"id":"71dce31e-c509-3d22-b6be-970180c95383","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"LogMessage","comments":"","instanceIdentifier":"cd340446-0193-1000-8192-8bccbd64022d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"2c5400ad-9980-3233-9152-a5fe537447ff","instanceIdentifier":"cdee3bbc-0193-1000-b8ef-fc3bf7e69a68","name":"","source":{"id":"d6fea311-ce9a-3da9-8510-e9d7c6655f43","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"PutSQL","comments":"","instanceIdentifier":"cd39e86e-0193-1000-ee13-3b17c0db1f02"},"destination":{"id":"7c1fc997-210b-3abf-9bbe-18d370f0ad90","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"ExecuteScript","comments":"","instanceIdentifier":"cdecbe49-0193-1000-3b69-24a459d6506d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"45b9f9ce-df3b-3d46-8b82-b74cc8ea47f7","instanceIdentifier":"cd3b9d41-0193-1000-c759-31e75819d049","name":"","source":{"id":"d6fea311-ce9a-3da9-8510-e9d7c6655f43","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"PutSQL","comments":"","instanceIdentifier":"cd39e86e-0193-1000-ee13-3b17c0db1f02"},"destination":{"id":"71dce31e-c509-3d22-b6be-970180c95383","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"LogMessage","comments":"","instanceIdentifier":"cd340446-0193-1000-8192-8bccbd64022d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"bc574052-85fe-3ba1-99ac-71ecc0ed5f10","instanceIdentifier":"cdeec9aa-0193-1000-ab8c-e6b1b367b6ac","name":"","source":{"id":"6973b060-0528-3bd8-a144-6ba4e8812712","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"PutSQL","comments":"","instanceIdentifier":"cdecef07-0193-1000-197c-0130f44f2c0c"},"destination":{"id":"a423e3d4-3edd-360a-8b75-2262d6bb4a22","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"DeleteSQS","comments":"","instanceIdentifier":"cd280d62-0193-1000-ba72-ee1ffcb55732"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"64538e9b-61e4-3b5e-9b85-05e832ab364b","instanceIdentifier":"cd3b342c-0193-1000-2e99-f18b0c5e36d3","name":"","source":{"id":"efc02d24-ca70-3ff7-aa73-58360903a99e","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"ExecuteScript","comments":"","instanceIdentifier":"cd2ae064-0193-1000-a535-f2dfa9044aa3"},"destination":{"id":"d6fea311-ce9a-3da9-8510-e9d7c6655f43","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"PutSQL","comments":"","instanceIdentifier":"cd39e86e-0193-1000-ee13-3b17c0db1f02"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"34dd6046-2dee-3ef0-8598-5a9b2c0ad469","instanceIdentifier":"cd2b5732-0193-1000-3a91-12d7990e9477","name":"","source":{"id":"2f30d2a6-f3fa-33c9-a462-6fd96f36a1db","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"GetFile","comments":"","instanceIdentifier":"cd280d60-0193-1000-1684-f2b03dcb5213"},"destination":{"id":"20a19216-77d2-3db1-8066-48ae27d64626","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"UpdateAttribute","comments":"","instanceIdentifier":"cd2a2b31-0193-1000-625f-5ba46b76b433"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"62cf320c-c2ff-3ac3-bbc7-7f20026b27ba","instanceIdentifier":"cdeea92b-0193-1000-c1b7-fb56cb41042c","name":"","source":{"id":"7c1fc997-210b-3abf-9bbe-18d370f0ad90","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"ExecuteScript","comments":"","instanceIdentifier":"cdecbe49-0193-1000-3b69-24a459d6506d"},"destination":{"id":"6973b060-0528-3bd8-a144-6ba4e8812712","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"PutSQL","comments":"","instanceIdentifier":"cdecef07-0193-1000-197c-0130f44f2c0c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"8e660972-a7dc-35d1-81bd-77744e1ddda5","instanceIdentifier":"cdeee463-0193-1000-a531-f7beba52fff3","name":"","source":{"id":"6973b060-0528-3bd8-a144-6ba4e8812712","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"PutSQL","comments":"","instanceIdentifier":"cdecef07-0193-1000-197c-0130f44f2c0c"},"destination":{"id":"9f081ad6-6b8c-3720-9d03-50d09a9fcc2b","type":"PROCESSOR","groupId":"5cef4637-f0d1-337f-9c9d-4abfb556e452","name":"LogMessage","comments":"","instanceIdentifier":"cd3c6ee0-0193-1000-7bb5-f0d6a0a21038"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"b6b96458-2abb-3d07-b747-da963d741e9b","instanceIdentifier":"cdc90c2d-0193-1000-1c26-c5253f7aeb30","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"129cc8b9-17ab-3574-9d75-0df4433cc077","instanceIdentifier":"cd280d5c-0193-1000-9105-bdd5bced843b","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://192.168.31.221:5432/aud_bgr_edr","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/home/nifi/postgresql-42.7.3.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"e1133332-92ec-3b4a-9a60-0ce0cb1a7c05","instanceIdentifier":"cd2e4f0e-0193-1000-ee47-31421aafc85a","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"a695ff00-5d38-395f-bccc-133e0dfc8861","instanceIdentifier":"cd280d5b-0193-1000-6ff9-bda98267d96f","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"},{"identifier":"59f7660b-72f9-3aaa-8ec0-c12b93bc5d34","instanceIdentifier":"cd280d5a-0193-1000-656f-1ee8698da6c6","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"rfc-4180","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5cef4637-f0d1-337f-9c9d-4abfb556e452"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}